<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>Plants</title>
</head>
<style>
    .dropdown-item:hover{
        background-color: darkolivegreen;
    }
    *{
        font-family: Garamond;
    }
</style>
<body>
    <header>
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(33, 48, 8);">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.html" style="font-family: Lucida Handwriting">Blossoms & Berries</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="./home">Home</a>
                        <a class="nav-link" href="./signup">Register</a>
                        <a class="nav-link" href="./login">Login</a>
                        <a class="nav-link" href="./About">About</a>
                        <a class="nav-link" href="./cart">View Cart</a>
                        <a class="nav-link" href="./accountinfo">Profile</a>
                    </div>
                </div>
            </div>
        </nav>
        <!--navbar end-->
    </header>
    <body>
        <div class="container my-4">
            <div class="row">
                <div class="col-md-2" style="background-color: darkolivegreen; height: 470px">
                    <h2 style="color: white;">Category</h2>
                    <ul class="navbar-nav">
                        <li>
                            <div class="dropdown">
                                <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: large; font-weight: bold;">
                                    Plants
                                </a>
                                <ul class="dropdown-menu" style = "background-color: #E6E5A3;">
                                    <li><a href="./flowering" class="dropdown-item" style="color: black;">Flowering</a></li>
                                    <li><a href="./non-flowering" class="dropdown-item" style="color: black; ">Non-Flowering</a></li>
                                    <li><a href="./creeper" class="dropdown-item" style="color: black; ">Creepers</a></li>
                                    <li><a href="./climber" class="dropdown-item" style="color: black; ">Climbers</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown">
                                <a   class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: large; font-weight: bold;">
                                    Seeds
                                   </a>
                                   <ul class="dropdown-menu" style = "background-color: #E6E5A3;">
                                       <li><a href="./fruits" class="dropdown-item" style="color: Black;">Fruits</a></li>
                                       <li><a href="./flowers" class="dropdown-item" style="color: Black;">Flowers</a></li>
                                       <li><a href="./vegetables"  class="dropdown-item" style="color: Black;">Vegetables</a></li>
                                       <li><a href="./indoor_plants"  class="dropdown-item" style="color: Black;">Indoor Plants</a></li>
                                   </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a     class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: large; font-weight: bold;">
                                    Fertilizers
                                    </a>
                                     <ul class="dropdown-menu" style = "background-color: #E6E5A3;">
                                        <li><a href="/Nfertilizer" class="dropdown-item"  style="color: Black;">Nitrogen</a></li>
                                        <li><a href="/PHfertilizer"  class="dropdown-item" style="color: Black; ">Phosphorus</a></li>
                                        <li><a href="/Pfertilizer"  class="dropdown-item"  style="color: Black;" >Potassium</a></li>
                                    </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <h1 class="text-white" style="text-align: center;background-color: darkolivegreen;">{{name}}</h1>
                          <h3>{{msg}}</h3>
                    <div class="row my-4">
                        {% for plants in products %}
                            <div class="col-md-4">
                                <div class="card" style="background-color: #cad2c5;margin-top: 40px;height: 400px">
                                    <img src="{{ url_for('static', filename='product_images/' + plants.image) }}" alt="plants" style="width:100%;height: 200px">
                                    <h3 class="text-center">{{ plants.name }}</h3>
                                    <h3 class="text-center price mx-3">Rs.{{ plants.price }}</h3>
                                     <div class = "input-group my-3">
                                        <form action="/cart" method="post">
                                        <input type="hidden" name="product_id" value="{{ plants.id }}">
                                        <input type = "submit"  class=" btn btn-dark text-center mx-4" name = "Add to Cart" value = "Add to Cart">
                                        </form>
                                        <form action="/single_product" method="post">
                                        <input type="hidden" name="product_id" value="{{ plants.id }}">
                                        <input type = "submit"  class="text-center btn btn-dark " name = "View Detail" value = "View Detail">
                                        </form>
                                     </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    <!--Footer Start-->
    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i
        ></a>

                <!-- Twitter -->
                <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i
        ></a>

                <!-- Google -->
                <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i
        ></a>

                <!-- Instagram -->
                <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram"></i
        ></a>

                <!-- Linkedin -->
                <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i class="fab fa-linkedin-in"></i
        ></a>
                <!-- Github -->
                <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i class="fab fa-github"></i
        ></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(33, 48, 8);">
            © 2023 Copyright
            <!--<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
        </div>
        <!-- Copyright -->
    </footer>
    <!--Footer End-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>